In [1]:
# Recreate the "Years of Experience vs Salary" dataset with specified constraints:
# - Minimum salary of 350 for 0 years of experience
# - Salary increases with experience up to a maximum of 2000 at 20 years

# Generate 40 random values for years of experience (ranging from 0 to 20 years)
years_experience_fixed = np.round(np.random.uniform(0, 20, 30), 1)

# Create a linear relationship with a base salary of 350, increasing with experience
# Add some noise and ensure salaries range between 350 and 2000
salary_fixed = np.clip(np.round(350 + years_experience_fixed * 80 + np.random.normal(0, 50, 40), 2), 350, 2000)

# Create the updated DataFrame
experience_salary_fixed_data = pd.DataFrame({
    'Years of Experience': years_experience_fixed,
    'Salary': salary_fixed
})

tools.display_dataframe_to_user(name="Adjusted Years of Experience vs Salary Dataset", dataframe=experience_salary_fixed_data)

NameError: name 'np' is not defined